<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thomas Murray</title>
    <meta property="og:title" content="Thomas Murray" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta name="theme-color" content="#111111" />
    <meta name="description" content="Thomas Murray - Britsh Developer." />
    <meta
      property="og:description"
      content="Thomas Murray - Britsh Developer."
    />
    <meta property="twitter:url" content="" />
    <meta name="description" content="Thomas Murray — British Developer." />
    <meta
      property="twitter:description"
      content="Thomas Murray - Britsh Developer."
    />
    <meta
      name="keywords"
      content="TheGoodGuyCoral, Coral, Thomas Murray"
    />
    <meta name="author" content="Thomas Murray" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/img/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/img/favicon.ico"
    />
    <link rel="manifest" href="/static/img/site.webmanifest" />
    <link href="/static/css/tailwind.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
    <link
      href="https://fonts.cdnfonts.com/css/red-hat-display"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/dm-sans" rel="stylesheet" />
  </head>

  <style>
    span {
      color: #000000;
    }
  </style>
  <!-- Navbar -->
  <body style="background-color: #3e3e3e">
    <div id="loading">
      <svg
        id="loading-image"
        aria-hidden="true"
        class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-purple-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
    </div>
    <nav
      class="bg-grey border-grey-200 px-2 sm:px-4 py-5.5 rounded"
      style="background-color: #181818"
    >
      <div
        class="container flex flex-wrap items-center mx-auto justify-between"
      >
        <a href="#" class="flex items-center">
          <span
            class="self-center text-xl font-bold whitespace-nowrap text-white"
            >Thomas Murray</span
          >
        </a>
        <button
          data-collapse-toggle="navbar"
          type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-white rounded-lg md:hidden focus:outline-none dark:text-gray-400 hover:bg-[#111111]"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar">
          <ul
            class="flex flex-col p-4 mt-4 md:border-0 md:bg-grey-300 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium dark:bg-gray-800 md:dark:bg-gray-200"
          >
            <li>
              <a
                href="#"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#about"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                >About</a
              >
            </li>
            <li>
              <a
                href="examples"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                >Examples</a
              >
            </li>
            <li>
              <a
                href="contact"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <div
      class="hero flex-col md:flex-row"
      style="background-color: rgb(154, 154, 154)"
    >
      <div class="hero-overlay"></div>
      <div
        class="hero-content text-center text-neutral-content flex-col md:flex-row"
      >
        <div class="max-w-md p-8">
          <h1 class="mb-5 text-5xl text-white font-semibold">
            Hello! I am  <span>Thomas.</span>
          </h1>
          <p class="text-white text-center">
           I am a website developer, I mainly code in HTML5 CSS  & TailwindCSS, I also do work inside of linux (Linux/Server Administration).
          </p>
        </div>
      </div>
    </div>

    <!-- About -->

    <a id="about">
      <div class="flex flex-wrap justify-center">
        <div class="hero">
          <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md mt-8">
              <h1 class="text-5xl text-white font-semibold">About Me</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row">
          <img
            src="https://cdn.discordapp.com/attachments/1068055168375078942/1072940147747860562/E94933BB-56F6-4E56-8027-A49A77F20086.jpg"
            style="height: 250px"
            class="max-w-sm rounded-lg"
          />
          <div class="text-white">
            <p class="py-2 text-center mr-170 lg:mr-0" style="max-width: 500px">
              I'm just a normal teenager. I play games quite a lot in my free time, or I programme, along with other competitive games. I had originally entered the developer world in April 2016 (In Highschool) where I programmed my first game in Unity, from there I had gone a school trip to website development studio and thought it was really cool. Eventually led me to where I'm now!
            </p>
          </div>
        </div>
      </div>
    </a>

    <br />
    <hr
      class="my-4 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700"
    />
              </p>
            </div>
          </div>
        </a>
      </div>
    </a>

    <!-- About me 2-->


    <a id="about">
      <div class="flex flex-wrap justify-center">
        <div class="hero">
          <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md mt-8">
    
            </div>
          </div>
        </div>
      </div>
      <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row">
          <div class="text-white">
            <img
            src="https://skillicons.dev/icons?i=js,ts,html,css,scss,nodejs,react" />
            <p class="py-2 text-center mr-170 lg:mr-0" style="max-width: 500px">
             I have also ventured out of comfort zone and made some discord bot's for a few servers, I also ventured into the <b>DARK SIDE</b> and tought my self how to set up the basics of running dockers on ubuntu servers
            </p>
            
          </div>
        </div>
      </div>
    </a>
    <br/>
    <hr
      class="my-4 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700"
    />
              </p>
            </div>
          </div>
        </a>
      </div>
    </a>



    <!-- Footer -->
    <br />
    <br />
    <footer
      class="sticky top-[100vh] p-4 w-full shadow md:flex md:items-center md:justify-between md:p-6"
      style="background-color: #181818"
    >
      <span class="text-sm text-white sm:text-center dark:text-white"
        >© 2023 Thomas Murray</span
      >
      <ul class="flex flex-wrap items-center mt-3 text-sm text-white sm:mt-0">
        <li>
          <a href="/" class="mr-4 hover:underline md:mr-6 md:ml-2">Home</a>
        </li>
        <li>
          <a href="#about" class="mr-4 hover:underline md:mr-6 md:ml-2"
            >About</a

        </li>
        <li>
          <a href="examples" class="mr-4 hover:underline md:mr-6">Examples</a>
        </li>
        <li>
          <a href="contact" class="mr-4 hover:underline md:mr-6">Contact</a>
        </li>
      </ul>
    </footer>
    <script src="/static/js/preloader.js" type="text/javascript"></script>
  </body>
</html>
